.biglogo {
	border: none;
}

img.logo {
  max-width: 50% !important;
}

.wy-nav-content {
  max-width: 1000px !important;
}

div.iota-landing-bg{
	background-image: linear-gradient(to right, white 35%, #30799C 100%);;
}

div.iota-landing-container {
	max-width: 1400px;
	
}

img.iota-index-img {
  max-height: 240px;
  margin: auto;
  margin-bottom: 1em;
  width: auto;
}

.card {
  /* Add padding to prevent "stick to border effec" */
  padding: 1em;
  margin-bottom: 1.5em;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.iota-card-title {
  font-weight: 700;
}

.iota-btn-primary {
  background-color: #30799C;
  border-color: #30799C;
  color: white;
}

.iota-btn-primary:hover,
.iota-btn-primary:active {
  background-color: #3499cd;
  border-color: #3499cd;
}

@media screen and (min-width: 1200px) {
  .iota-px-xl-4 {
    padding-left: 1.3rem!important;
    padding-right: 1.3rem!important;
  }
}

.scv-banner {
    padding: 3px;
    border-radius: 2px;
    font-size: 80%;
    text-align: center;
    color: white;
    background: #d40 linear-gradient(-45deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    background-size: 28px 28px;
}
.scv-banner > a {
    color: white;
}
