{% set otb_version = "8.0.1" %}
{% set otb_branch = '8.0.1' %}
{% set iota2_version = "211021" %}

{% set libitk_upstream = "4.13.3" %}
{% set libitk_otb = [libitk_upstream, "+otb", otb_version]|join %}

{% set muparserx_upstream = "4.0.8" %}
{% set muparserx_otb = [muparserx_upstream, "+otb", otb_version]|join %}

{% set tinyxml_upstream = "2.6.2" %}
{% set tinyxml_otb = [tinyxml_upstream, "+otb", otb_version]|join %}

{% set shark_upstream = "67990bcd2c4a90a27be97d933b3740931e9da141" %}
{% set shark_otb = ["3.0+otb", otb_version]|join %}

{% set boost_upstream = "1.69.0" %}
{% set boost_otb = [boost_upstream, "+otb", otb_version]|join %}

{% set grass_upstream = "7.8" %}
{% set grass_iota2 = [grass_upstream, "+iota2"]|join %}

{% set config_upstream = "0.5.1" %}
{% set config_iota2 = [config_upstream, "+iota2"]|join%}
